<!-- Main Blog Content -->
<div class="large-9 columns" role="content">

  <%= link_to "New Article", new_article_path %>

  <% @articles.each do |article| %>
    <article>
      <h3><a href="#"><%= link_to article.title, article %></a></h3>
      <h6>Written by <a href="#">John Smith</a> on August 12, 2012.</h6>
      <%= simple_format article.body %>
    </article>

    <hr/>
  <% end %>

  <section class="paginate">
    <%= paginate @articles %>
  </section>

</div>