%h1 Blog Articles

= flash[:notice]

- @articles.each do |article|
  .article
    %h2= link_to article.title, article_path(article)
    %p
      = h(article.content)

%p= link_to "New Article", new_article_path