<%=	link_to "New Article", new_article_path %>

<h2>Articles</h2>

<section id="articles">
  <% @articles.each do |article| %>
    <section class="index_article">
      <%= link_to article.title, article %> - <%= link_to "X", article, method: :delete %>
    </section>
  <% end %>
</section>


<section class="paginate">
  <%= paginate @articles %>
</section>
