%h1 Pages

%p
  = link_to "Create a new page", new_page_path

%ul
- @pages.each do |p|
  .article
    %li
      .actionable
        %b= link_to p.title, p
        .actions_box
          = link_to "Edit", edit_page_path(p)
          = link_to "Delete", page_path(p), :confirm => "Are you sure?", :method => "delete"
