body {
  font: 0.9em Helvetica, Trebutchet, sans-serif;
  line-height: 1.2em;
  background-color: gainsboro;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.7em;
}

h1 a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1.5em;
}

p {
  margin: 1em 0;
}

#container {
  width: 960px;
  margin: 0 auto;
  background-color: white;
}

#content {
  padding: 1.5em;
}

input, textarea {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  margin: 0.5em;
  border: 1px solid #999;
}

input {
  width: 375px;
  display: block;

  height: 25px;
}

textarea {
  width: 375px;
  height: 100px;
  display: block;
}

#header {
  background-color: tomato;
  padding: 20px;
}

#login {
  float: right;
  width: 300px;
  text-align: right;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

#comments {
  margin: 10px 0;
}

.comment {
  border: 1px solid grey;
  margin: 10px 0;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;

}

.paginate {
	margin: 10px 0;
	padding: 5px;
	span {
		margin: 2px;
	}
	.current {
		font-weight: bold;
	}
}

.index_article {
  margin: 5px;
  padding: 5px;
}

.zebra {
  background-color: #eee;
}
