.field {
  margin: 5px;
}

input:not([type=submit]):not([type=file]) {
  width: 375px;
  display: block;
  height: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  border: 1px solid #999;
}

textarea {
  width: 90%;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  border: 1px solid #999;
  display: block;
}

div.field_with_errors input {
  border: 1px solid red;
}