body {
  font: 0.9em Helvetica, Trebutchet, sans-serif;
  line-height: 1.2em;
  background-color: gainsboro;
}

#container {
  width: 960px;
  margin: 0 auto;
  background-color: white;
}

#content {
  padding: 1.5em;
}


#header {
  background-color: tomato;
  padding: 20px;
}

#login {
  float: right;
  width: 300px;
  text-align: right;
}

#comments {
  margin: 10px 0;
}

.comment {
  border: 1px solid grey;
  margin: 10px 0;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
