h1 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.7em;
}

h1 a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1.5em;
}

p {
  margin: 1em 0;
}
